body, html {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.bg {
	/* The image used */
	background-image: url("../img/img_girl.jpg");

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#player {
	position: absolute;
	bottom: -259px;
	right: -256px;
}

.controls button {
  cursor: pointer;
  position: absolute;
  height: 27px;
  width: 27px;
  border: none;

  text-align: center;
  background: #414141;
  color: #d9d9d9;
  border-radius: 50%;
  font-size: 0.8em;
  transition: .1s;
  line-height: 1em;
}
.controls button:hover {
  opacity: 0.95;
}
.controls button:active{
  opacity: 0.5;
}
.controls .play {
  height: 37px;
  width: 37px;

  font-size: 1.2em;
  line-height: 35px;
}
.controls .backward, .controls .forward {
  top: .7em;
  font-size: .5em;
  letter-spacing: .4em;
  line-height: .7em;
}
.controls .backward {
  left: 28%;
}
.controls .forward {
  left: 42%;
  letter-spacing: .3em;
  text-align: right;
}

.controls .settings {
  cursor: pointer;
  color: #CCC;
  float: right;
  margin-top: 5%;
}

.controls .settings:hover { color: #AAA; }
